.custom-number-wrapper {
	display: flex;
	align-items: center;
}

.custom-number-input {
	border-radius: 0 !important;
}

.custom-number-input:hover {
	border: 1px solid #efefef;
}

.custom-number-input:focus,
.custom-number-input:focus-visible {
	outline: 4px auto webkit-focus-ring-color;
}

input[type="number"] {
	font-size: 16px; /* Minimum size to prevent zoom on iOS */
}

.custom-number-wrapper input {
	text-align: center;
	width: 50px;
	height: 50px;
}

.custom-number-wrapper button {
	width: 50px;
	height: 50px;
	background-color: #646cff;
	border: none;
	color: white;
	font-size: 1.5em;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.custom-number-wrapper button:disabled {
	cursor: not-allowed;
}

.increment {
	border-radius: 0 8px 8px 0;
}

.decrement {
	border-radius: 8px 0 0 8px;
}

.increment:hover {
	border: 1px solid #efefef;
}

.increment:focus,
.increment:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.decrement:hover {
	border: 1px solid #efefef;
}

.decrement:focus,
.decrement:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.increment:active {
	transform: scale(0.95);
}

.decrement:active {
	transform: scale(0.95);
}
